    <div id="div1" ondrop="ablegen(event)" ondragover="ablegenErlauben(event)">
      <p draggable="true" ondragstart="ziehen(event)" id="drag1">a</p>
      <p draggable="true" ondragstart="ziehen(event)" id="drag2">b</p>
      <p draggable="true" ondragstart="ziehen(event)" id="drag3">c</p>
    </div>

    <div id="div2" ondrop="ablegen(event)" ondragover="ablegenErlauben(event)">
      <p draggable="true" ondragstart="ziehen(event)" id="drag4">1</p>
      <p draggable="true" ondragstart="ziehen(event)" id="drag5">2</p>
      <p draggable="true" ondragstart="ziehen(event)" id="drag6">3</p>
    </div>


<script>
function ablegenErlauben(ev) {
    ev.preventDefault();
}

function ziehen(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function ablegen(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>