{% extends 'base.html.twig' %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
</head>
{% endblock %}
{% block body %}
<body>
    <div style="text-align: center">    
        <h2>Willkommen bei SkyGate-Agenda!</h2>
    </div>
</body>

</html>
{% endblock %}