{% extends 'base.html.twig' %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
</head>
{% endblock %}
{% block body %}
<body>
    <div style="text-align: center">    
        <h2>Willkommen bei SkyGate-Agenda!</h2>
        <br /><br />
        <p><a href="{{ path('create_meeting') }}"><button class="btn">Meeting erstellen</button></a></p>
        <br />
        <p><a href="{{ path('actual_meetings') }}"><button class="btn">Bevorstehende Meetings</button></a></p>
        <br />
        <p><a href="{{ path('completed_meetings') }}"><button class="btn">Abgeschlossene Meetings</button></a></p>
        <br />
        <br />
        <a href="{{ path('logout') }}"><button class="btn">Logout</button></a>
    </div>
</body>

</html>
{% endblock %}