<br />
<a href="{{ path('create_meeting') }}"><button class="btn">Meeting erstellen</button></a>
<a href="{{ path('actual_meetings') }}"><button class="btn">Bevorstehende Meetings</button></a>
<a href="{{ path('completed_meetings') }}"><button class="btn">Abgeschlossene Meetings</button></a>
<a href="{{ path('logout') }}"><button class="btn">Logout</button></a>
