{% extends 'base.html.twig' %}

{% block head %}
    <title>Meeting gestartet</title>
{% endblock %}

{% block body %}
<h1>Meeting gestartet</h1>
<h2>Name des Meetings: {{ meeting_name }}</h2>
<br />

    <div id = "countdownExample">
    {% for agenda in agendas %}
        <h4><td>Agendapunkt: {{ agenda.name }}   Minuten: <span class="values" id="time_{{loop.index }}">{{ agenda.minutes }}</span></td><br /></h4>
    {% endfor %}
    </div>
 
    <button class="startButton">Starten</button>
    

<script>
window.onload = function () {
    
    var elements = [];
    
    $('.values').each(function() {
            elements.push(this);
        });    
         console.log(elements);

    
    console.log(elements);   
{#    var arrayLength = elements.length + 1;#}
{#    console.log(arrayLength);#}
{#    var i = 0;#}
   {# var timer = new Timer();
    var timer1 = new Timer();
    var timer2 = new Timer();#}
    
    var timer = [];
    
    $('.values').each(function(index){
        console.log($(this).attr('id'));
        console.log(index);
        timer[index] = new Timer();
        timer[index].start({countdown: true, startValues: {seconds: jQuery('#time_' +(index+1)).text()}});
        console.log('#time_' +index+1);
        $('#countdownExample #time_' +(index+1)).html(timer[index].getTimeValues().toString());
        timer[index].addEventListener('secondsUpdated', function (e) {
            $('#countdownExample #time_' +(index+1)).html(timer[index].getTimeValues().toString());
        });
        timer[index].addEventListener('targetAchieved', function (e) {
            $('#countdownExample #time_' +(index+1)).html('FERTIG');
        });
        
{#        i++;#}
{#        timer.stop();#}
    });
};

</script>

{% endblock %}
