{% extends 'base.html.twig' %}

{% block head %}
    <title>Meeting gestartet</title>
{% endblock %}

{% block body %}
<h1>Meeting gestartet</h1>
<h2>Name des Meetings: {{ meeting_name }}</h2>
<br />


    {% for agenda in agendas %}
        <h4><td>Agendapunkt: {{ agenda.name }}   Minuten: <span class="test" id="time_{{loop.index }}">{{ agenda.minutes }}</span></td><br /></h4>
    {% endfor %}
    
    <button id="start">Starten</button>
 

<script>

function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since 
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds; 
        if(display.textContent == "00:00"){
            $('#time_2').each(function() {
{#            var first = $('.test')[0];#}
            var minute = jQuery('#time_2').text();
            var fiveMinutes = 10 * minute;
            //display = document.querySelector('#time');
            startTimer(fiveMinutes, this);
        });
        }

        if (diff <= 0) {
            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 1000;
        }
    };
    // we don't want to wait a full second before the timer starts
    timer();
    setInterval(timer, 1000);
}

window.onload = function () {
    
    var elements = [];
    
    $('.test').each(function() {
            elements.push(this);
        });
    
    $( "#start" ).click(function() {
        $('#time_1').each(function() {
{#            var first = $('.test')[0];#}
            var minute = jQuery('#time_1').text();
            var fiveMinutes = 10 * minute;
            //display = document.querySelector('#time');
            startTimer(fiveMinutes, this);
        });
        console.log(elements);
      });   
};
</script>

{% endblock %}
